.heading {
  position: absolute;
  margin-top: -200px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  text-align: center;
  flex-direction: column;
  color: aliceblue;
  background: url(./assets/bg-desktop-dark.jpg);
}
.bottom {
  height: 500px;
  background-color: hsl(235, 21%, 11%);
}

.tasks {
  color: aliceblue;
  margin-top: 300px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  height: 500px;
  background-color: hsl(235, 19%, 35%);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  margin-top: 300px;
  width: 600px;
  height: 500px;
}

.add {
  background-color: aliceblue;
  margin-top: -320px;
  align-items: center;
  display: flex;
}

.all-tasks {
  color: aliceblue;
  display: grid;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 70px;
  background-color: hsl(235, 24%, 19%);
  grid-template-columns: 150px 150px 150px;
}

.close {
  margin-left: 70px;
}
