@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
.x {
  border: 10px solid #c0dbea;
  margin-bottom: 100px;
  margin-top: 20px;
}
